**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/.env
**/appsettings.Development.json
**/appsettings.*.json
!**/appsettings.json
**/*.md
!README.md
**/Dockerfile
**/docker-compose*.yml
**/.dockerignore
**/build_errors*.txt
**/*.pyc
**/__pycache__
